# Database config
DB_USER=pguser
DB_PASSWORD=pgpassword
DB_NAME=youtube_dl
DATABASE_URL=postgresql://pguser:pgpassword@localhost:5432/youtube_dl?schema=public

# RabbitMQ config
RMQ_USER=guest
RMQ_PASS=guest
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Application Variables
DOWNLOAD_PATH=/home/reg/downloads/youtube
NODE_ENV=development

# NextAuth config
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=super_secret_for_local_dev_12345
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret

# YouTube Config
YT_PROXY=
